<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>加百利商城-个人中心</title>
		<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/style.css">	
	</head>
	<body>
<!-- self_info -->
	<div class="grzxbj">
		<div class="selfinfo center">
		<div class="lfnav fl">
			<div class="ddzx">订单中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="#">我的订单</a></li>
				</ul>
			</div>
			<div class="ddzx">个人中心</div>
			<div class="subddzx">
				<ul>
					<li><a href="./self_info.html">我的个人中心</a></li>
				</ul>
			</div>
		</div>
		<div class="rtcont fr">
			<div class="ddzxbt">
			   <ul class="dh_1">
						<li><a href="#">全部订单</a></li>
						<li><a href="#">待付款</a></li>
						<li><a href="#">待发货</a></li>
						<li><a href="#">待收货</a></li>
						<li><a href="#">待评价</a></li>
				</ul>
				<span class="del_1"><img src="./image/del_dd.png"> <a class="del_dd" href="#">订单回收站</a></span>
			</div>
			
			<div class="page_1">
			<span class="page_2"> <button class="btn_page">上一页</button> <span>1</span>/<span>2</span> <button class="btn_page">上一页</button> </span>
			</div>
			
			<div class="shop_ls">
               <ul class="shop_zt">
                  <li>宝贝 </li>
                  <li>单价</li>
                  <li>数量</li>
                  <li>实付款</li>
                  <li>交易状态</li>
              </ul>
            </div>
            
			<div class="ddxq">
			  <div class="shopdml">
				<span class="shopbtn"><input class="shoppl" type="checkbox"> </span>
				<span class="shopbh">订单编号:46789098754346</span>
				<span class="shopsj">交易时间:2018-12-2</span>
				<span class="shopdel"><img height="14px" width="14px" src="./image/del_dd.png"><a href="#">删除该订单</a></span>
			  </div>
			  <div class="shopsrc">
				<span class="shopimg"><img width="85px" height="85px;" src="./image/liebiao_hongmin4_dd.jpg"></span>
				<span class="shopname">Nike Air Jordan XXX <br>
				<a href="#"><img width="17px"  height="17px;" title="正品保证" src="./image/h1.png">&nbsp<img title="如图描述" width="17px" height="17px;" src="./image/h2.png"></span></a>
				<div class="price_1277" ><span>￥10.00</span></div>
				<div class="price_1278" ><span>1</span></div>
				 <div class="price_1279" ><span>￥20.00</span></div>
				  <div class="price_1280" ><span>已发货</span></div>
			  </div>
			   <div class="shopsrc">
				<span class="shopimg"><img width="85px" height="85px;" src="./image/liebiao_hongmin4_dd.jpg"></span>
				<span class="shopname">Nike Air Jordan XXX <br>
				<a href="#"><img width="17px"  height="17px;" title="正品保证" src="./image/h1.png">&nbsp<img title="如图描述" width="17px" height="17px;" src="./image/h2.png"></span></a>
				<div class="price_1277" ><span>￥10.00</span></div>
				<div class="price_1278" ><span>1</span></div>
				 <div class="price_1280" ><span>已发货</span></div>
			  </div>
			</div>
			
			<div class="ddxq">
			  <div class="shopdml">
				<span class="shopbtn"><input class="shoppl" type="checkbox"> </span>
				<span class="shopbh">订单编号:46789098754346</span>
				<span class="shopsj">交易时间:2018-12-2</span>
				<span class="shopdel"><img height="14px" width="14px" src="./image/del_dd.png"><a href="#">删除该订单</a></span>
			  </div>
			   <div class="shopsrc">
				<span class="shopimg"><img width="85px" height="85px;" src="./image/liebiao_hongmin4_dd.jpg"></span>
				<span class="shopname">Nike Air Jordan XXX <br>
				<a href="#"><img width="17px"  height="17px;" title="正品保证" src="./image/h1.png">&nbsp<img title="如图描述" width="17px" height="17px;" src="./image/h2.png"></span></a>
				<div class="price_1277" ><span>￥10.00</span></div>
				<div class="price_1278" ><span>1</span></div>
				 <div class="price_1280" ><span>已发货</span></div>
			  </div>
			</div>
		
		</div>
		<div class="clear"></div>
		</div>
	</div>
<!-- self_info -->
		
		<footer class="mt20 center">			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>
	</body>
</html>