‘【//2<HTML xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery.easyui.min.js"></script>
<script type="text/javascript" src="static/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css"
	href="static/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="static/themes/icon.css">

<script type="text/javascript">
</script>
</head>
<body>
<div style="text-align: center;">
<style type="text/css">
	.ss{
		padding-left: 120px;
	}
	.ss,.xx{
		padding-bottom: 30px;
	}
	
	.sc{
		padding-left: 100px;
		padding-bottom: 30px;
	}
	#sss,#ssf{
		padding-top: 30px;
	}
</style>
<script type="text/javascript">
$(function(){
	$("form").submit(function(){
		var stock =  $("input[name=stock]").val();
		var sizeid =  $("#sizeid").val(); 
		var colorid =  $("#colorid").val(); 
		if(sizeid==0){
			alert("请选择商品尺码!");
			return false;
		}
		if(colorid==0){
			alert("请选择商品颜色!");
			return false;
		}
		var files = $('input[name="file"]').prop('files');//获取到文件列表
		if(files.length == 0){
		  alert('请选择商品图片');
		  return false;
		}
		if(stock==0){
			alert("商品数量不能为0!");
			return false;
		}
		return true;
	})
});
</script>
	<form action="addkc"  enctype="multipart/form-data"  method="post" target="_top">
		<table style="margin-left: 33px;margin-top: -65px;">
			<tr>
				<td class="ss" id="ssf"></td>
				<td class="xx" id="sss"><input name="shopid" th:value="${shopid}" style="display: none;" type="text"/></td>
			</tr>
			<tr>
				<td class="ss" id="ssf"></td>
				<td class="xx" id="sss"><input name="filename" th:value="${filename}" style="display: none;" type="text"/></td>
			</tr>
			<tr>
				<td class="ss" id="ssf">商品名称</td>
				<td class="xx" id="sss"><input name="shopname" th:value="${shopname}" readonly="readonly" type="text"/></td>
			</tr>
			<tr>
				<td class="ss">尺码</td>
				<td class="xx">
					<select name="sizeid" id="sizeid" >
						<option selected="selected" value="0">请选择尺码</option>
						<option th:each="n,map:${sizels}" th:value="${n.sizeid}" th:text="${n.sizename}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="ss">颜色</td>
				<td class="xx">
					<select name="colorid" id="colorid">
						<option value="0">请选择颜色</option>
						<option th:each="n,map:${colorls}" th:value="${n.colorid}" th:text="${n.colorname}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="ss">商品图片</td>
				<td class="sc"><input name="file" type="file" /></td>
			</tr>
			<tr>
				<td class="ss">商品数量</td>
				<td class="xx"><input name="stock" type="number" value="0" /></td>
			</tr>
			<tr><td></td><td><button type="submit">点击新增</button></td></tr>
		</table>
	</form>
</div>
</body>
</HTML>