<HTML xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery.easyui.min.js"></script>
<script type="text/javascript" src="static/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css"
	href="static/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="static/themes/icon.css">

<script type="text/javascript">
</script>
</head>
<body>
<div style="text-align: center;">
<style type="text/css">
	.ss{
		padding-left: 120px;
	}
	.ss,.xx{
		padding-bottom: 30px;
	}
	
	.sc{
		padding-left: 100px;
		padding-bottom: 30px;
	}
	#sss,#ssf{
		padding-top: 30px;
	}
</style>
	<form action="updateshop" enctype="multipart/form-data"  method="post"  target="_top">
		<table th:each="nb,map:${shopls}">
			<tr>
				<td><input name="shopid" th:value="${nb.shopid}"  style="display: none;" /></td>
			</tr>
			<tr>
				<td class="ss" id="ssf">商品名称</td>
				<td class="xx" id="sss"><input name="shopname" readonly="readonly" type="text" th:value="${nb.shopname}"/></td>
			</tr>
			<tr>
				<td class="ss">价格</td>
				<td class="xx"><input name="price" type="text" th:value="${nb.price}" /></td>
			</tr>
			<tr>
				<td class="ss">原价</td>
				<td class="xx"><input name="oriprice" type="text" th:value="${nb.Oriprice}" /></td>
			</tr>
			<tr>
				<td class="ss">详情</td>
				<td class="xx"><textarea name="prodetails" th:text="${nb.prodetails}"/></textarea>
			</tr>
			<tr>
				<td class="ss">描述</td>
				<td class="xx"><textarea name="proreview" th:text="${nb.proreview}" /></textarea>
			</tr>
			<tr>
				<td class="ss">分类</td>
				<td class="xx">
					<select name="grsonid" >
						<option value="0">请选择分类</option>
						<option th:each="n,map:${typels}"  th:selected="${n.grsonid eq nb.grsonid}"  th:value="${n.grsonid}" th:text="${n.grsonname}">NIKE</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="ss">商品图片</td>
				<td class="sc"><input name="file" type="file" /></td>
			</tr>
			<!-- <tr>
				<td class="ss">商品数量</td>
				<td class="xx"><input name="stock" type="number" value="0" /></td>
			</tr> -->
			<tr><td></td><td><button type="submit">点击修改</button></td></tr>
		</table>
	</form>
</div>
</body>
</HTML>