<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>加百利商城登陆</title>
<link rel="stylesheet" href="css/style1.css" />
</meta>
</head>
<body>
<div class="login-container">
	<h1>登陆加百利商场</h1>
	
	<div class="connect">
		<p>用户登陆</p>
	</div>
	
	<form action="login" method="post" id="loginForm">
		<div>
			<input type="text" name="username" class="username" placeholder="用户名" autocomplete="off"/>
		</div>
		<div>
			<input type="password" name="password" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
		</div>
		<div>
			<input type="text" name="veryCode" placeholder="验证码" style="width:90px; margin-left: 2px;" oncontextmenu="return false" onpaste="return false" /><img id="veryCode" width="80px"  style="vertical-align: middle;padding-left: 10px" height ="35px" src="/templates/htpage/yzm" /><a href="#"  onclick="veryCode.src='/templates/htpage/yzm?'+Math.random();" style="font-size: 12px;">看不清?点击更换</a>
		</div>
		<button id="submit" type="submit">登 录</button>
	</form>

	<a href="register.html">
		<button type="button" class="register-tis">还没有账号？</button>
	</a>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/com.js"></script>
<!--背景图片自动更换-->
<script src="js/supersized.3.2.7.min.js"></script>
<script src="js/supersized-init.js"></script>
<!--表单验证-->
<script src="js/jquery.validate.min.js?var1.14.0"></script>

</body>
</html>