<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>加百利商城注册</title></meta>
<link rel="stylesheet" href="css/style1.css" />
</head>

<body>

	<div class="register-container">
		<h1>加百利商城</h1>

		   <input type="hidden"  class="myzh" th:value="${session.sid}"></input>
		<div class="connect">
			<p>用户注册</p>
		</div>

		<form action="registUser" method="post" id="registerForm">
			<div>
				<input type="text" name="username" id="username" class="username"
					placeholder="您的用户名" autocomplete="off" />
			</div>
			<span id="exit"></span>
			<div>
				<input type="password" name="password" id="password"
					class="password" placeholder="输入密码" oncontextmenu="return false"
					onpaste="return false" />
			</div>
			<span id="yzpwd"></span>
			<div>
				<input type="password" name="confirm_password" id="confirm_password"
					class="confirm_password" placeholder="再次输入密码"
					oncontextmenu="return false" onpaste="return false" />
			</div>
			<span id="yzrpwd"></span>
			<div>
				<input type="text" name="phone_number" id="phone_number"
					class="phone_number" placeholder="输入手机号码" autocomplete="off" />
			</div>
			<span id="yzphone"></span>
			<div>
				<input type="text" id="code" name="code" placeholder="请输入验证码"
					style="width: 160px; margin-left: 2px; display: inline-block;"
					oncontextmenu="return false" onpaste="return false" /> 
					<input type="button" id="btn" value="验证码" style="display: inline-block; width: 100px" />
					<span id="nr"  style="font-size: 16px;"></span>
					
			</div>
			
			<div>
				<input type="email" name="email" id="email" class="email" placeholder="输入邮箱地址"
					oncontextmenu="return false" onpaste="return false" />
			</div>
            <span id="yzemail"></span>
			<button type="submit" id="zc" style="disabled:disabled">注 册</button>
		</form>
		<a href="login.html">
			<button type="button" class="register-tis">已经有账号？</button>
		</a>

	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/com.js"></script>
	<!--背景图片自动更换-->
	<script src="js/supersized.3.2.7.min.js"></script>
	<script src="js/supersized-init.js"></script>
	<!--表单验证-->
	<script src="js/jquery.validate.min.js"></script>
	<script type="text/javascript">
	
</script>
	<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
	<script type="text/javascript">
	$(function(){
		  var i=true;
		  $("#username").blur(function(){
		     var username=$("#username").val();
		     if (username != ""&&username !=null) {
		        $.post("exitsUname?username="+username,function(data){
		           if(data){
		              $("#exit").html("用户名已被占用!");     
		                   i= false;
		                   } else{                
		                  $("#exit").html("√");  
		                  i= true;
		                   }                 
		               
		                },"JSON")
		            }else{
		             $("#exit").html("请输入用户名!");   
		             i= false;  
			            }
		            });
          $("#password").blur(function(){
        	  var password=$("#password").val();
        	      if(password ==""||password==null){
        	    	  $("#yzpwd").html("密码不能为空!");     
        	    	  i= false;
	                   }else{
	                  $("#yzpwd").html("√"); 
	                  i= true;    
		                   }
            	      });
          $("#confirm_password").blur(function(){
        	  var password=$("#password").val();
        	  var repwd=$("#confirm_password").val();
        	      if(repwd ==""||repwd==null){
        	    	  $("#yzrpwd").html("请重复输入密码!");     
        	    	  i= false;
	               }else if(repwd !=password){
	                   $("#yzrpwd").html("两次输入密码不一致");  
	                   i= false;   
		           }else{
		        	   $("#yzrpwd").html("√");   
		        	   i= true;
		                   }
            	      });

          $("#code").blur(function(){
        
        	  var code=$("#code").val();       
        	   	   if(code ==""||code==null){
        	   		   $("#nr").html("验证码不能为空!"); 
        	   		   i=false;
	               }else{           
        	   	   $.post("yzm",function(rodon){
                       if(rodon==code){
                       	$("#nr").html("√");   
                       	  i= true;  
                       }else{
                           $("#nr").html("验证码有误!");   
                           i= false;
                           document.getElementById("code").focus();
                              }
                       
                       },"JSON")
	               }
            	      });
          $("#email").blur(function(){
        	  var a=$("#email").val();
        	      if(a ==""||a==null){
        	    	  $("#yzemail").html("邮箱不能为空!");     
        	    	  i= false;
	                   }else{
	                  $("#yzemail").html("√");   
	                  i= true;  
		                   }
            	      });
	      
          $("#phone_number").blur(function(){
        	  var phone=$("#phone_number").val();
        	  var q= /^[1][3,4,5,7,8][0-9]{9}$/;
        	      if(phone ==""||phone==null){
        	    	  $("#yzphone").html("请输入手机号!");     
        	    	  i= false;
	              }else if(!q.test(phone)){
     				  $("#yzphone").html("手机号格式不正确");
     				  i= false;
     			  }else{
	                  $("#yzphone").html("√");  
	                  i= true;   
		                   }
            	      });
            
                 
		         
		 $("#btn").click(function(){
			var phone = $("input[name=phone_number]").val();
			 if(!(/^[1][3,4,5,7,8][0-9]{9}$/.test(phone))){
				$("#yzphone").text("手机号格式不正确!");	 
			}else{ 
				  var username=$("#username").val();
				$.get("dxApi?phone="+phone+"&username="+username,"",function(row){
					if(row==1){
						$("#nr").text("验证码已发送");
							setTimeout(function() {
							$("#nr").text("")}
			           	  ,3000)
						}else{
							$("#nr").text("短信未成功发送,请检查电话号码是否正确");
							setTimeout(function() {
								$("#nr").text("")}
			            	 ,3000)
						}
					
					},"JSON");
			}
		}) ;
		
		$("#btn").click(function(){
			var countdown=60;
		         var obj = $("#btn");
		         settime(obj) ;
		     function settime(obj) { //发送验证码倒计时
		         if (countdown == 0) {
		             obj.attr('disabled',false);
		             //obj.removeattr("disabled");
		             obj.val("获取验证码");
		             countdown = 60;
		             return;
		         } else {
		             obj.attr('disabled',true);
		             obj.val("重新发送" + countdown + "s");
		             countdown--;
		         }
		         setTimeout(function() {
		                 settime(obj) }
		             ,1000)
		     }
		});

		$("input").blur(function(){
          if(i==false){
        	  $("#zc").attr("disabled",true);
              return false;
              }else{
            	  $("#zc").attr("disabled",false);
                  return true;
                  }

			});
			
});
</script>
<script type="text/javascript">
        var sid=$('.myzh').val();
	    var socket;
	    if(typeof(WebSocket) == undefined) {
	        console.log("您的浏览器不支持WebSocket");
	    }else{
	        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
	        socket = new WebSocket("ws://localhost:8080/webSocket/"+sid);

	        //打开事件
	        socket.onopen = function() {
	        	
	        };

	        //获得消息事件
	        socket.onmessage = function(msg) {
	            if (msg.data == "101") {
	                alert("对不起，你的账号已经在其它地方登录，若非本人操作，请及时更换密码...");
	                location.href="http://localhost:8080/templates/page/login.html";
	                return;
	            }
	        }
	        };

</script>

</body>
</html>