<!DOCTYPE HTML>
<html>
<head>
    <title>Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/form.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!-- start menu -->
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="js/megamenu.js"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- end menu -->
    <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link rel="stylesheet" href="css/etalage.css">
    <script src="js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
    <!----//details-product-slider--->
    <!-- top scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">

    
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });

        });

  
    </script>
</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="logo">
            <a href="showType"><img width="120px" src="images/logo.jpg" alt="showType"></a>
        </div>
        <div class="cssmenu">
		   <ul>
		   
		   <input type="hidden"  class="myzh" th:value="${session.sid}">
			 <li><a href="shopselectall">商品列表</a></li> 
			  <li><a href="ts" >购物车</a></li> 
			 <li><a href="/templates/gotopage/getuser">我的账户</a></li> 
		   </ul>
		</div>
        <ul class="icon2 sub-icon2 profile_img">
            <li><a class="active-icon c2" href="#"> </a>
                <ul class="sub-icon2 list">
                    <li><h3></h3><a href=""></a></li>
                    <li><p><a href=""></a></p></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="header-bottom">
		<div class="wrap">
			<!-- 导航栏 -->
			<ul class="megamenu skyblue">
				<li>
				      <a class="color1" href="showType">首页</a>
				</li>
				<li class="grid"> 
				      <a class="color2" href="#">Exclusive定制</a>
					<div class="megapanel">
						<div class="row">
							
							<div class="col1" th:each="li,user:${dhl }">
								<div class="h_nav">
								<img height="34px" width="40px" th:src="'http://193.112.4.251:2333/thefootimg/pageimg/logo/' +${li.brandlogo}"><a th:href="@{shopselectall(pp=${li.bid})}" th:text="${li.grsonname}"></a>
									<ul>
									    <li class="s686">&nbsp</li>
										<li><img height="70px" width="160px" th:src="'http://193.112.4.251:2333/thefootimg/pageimg/dhl/'+${li.branddhl}"></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					</li>
			</ul>
		</div>
		
	</div>
<div class="single">
    <div class="wrap">
        <div class="cont span_2_of_3">
            <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                <ul id="etalage">
                	<!-- 详细商品图片,上边图片为原图,下边为悬浮显示图片 -->
                    <li th:each="o,p:${ic}">
                            <img  class="etalage_thumb_image" th:src="'http://193.112.4.251:2333/thefootimg/shopimg/'+${o.filename}"/>
                            <img class="etalage_source_image" th:src="'http://193.112.4.251:2333/thefootimg/shopimg/'+${o.filename}"/>
                    </li>

                </ul>
                <!-- end product_slider -->
            </div>
            
            <div class="cont1 span_2_of_a1">
                <h3 class="m_3" th:each="m,map:${sa}" th:if="${map.index} ==0" th:text="${m.shopname}"></h3>

                <div class="price_single">
                    <span class="reducedfrom" th:each="m,map:${sa}" th:if="${map.index} ==0" th:text="'$'+${m.price}"></span>
                   <span class="actual" th:each="m,map:${sa}" th:if="${map.index} ==0" th:text="'￥'+${m.Oriprice} + '.00'"></span>
                    <input type="hidden" th:each="m,map:${sa}"  id="shopid" th:if="${map.index} ==0" th:value="${m.shopid}">
                    
                </div>
                <ul class="options">
                    <h4 class="m_9" >选择尺寸</h4>
                    <li th:each="m1,map:${sz}" >
                    <a onclick="select(this)" th:id="${m1.sizename}"  class="ss"  th:text="${m1.sizename}"></a></li>
                    <div class="clear"></div>
                </ul>
                <br/>
                 <ul class="options">
                    <h4 class="m_9">选择颜色</h4>
                    <li th:each="m,map:${sa}" >
                    <input type="hidden"  th:id="${m.colorname}" th:value="${m.filename}"  class="ww">
                    <a onclick='show(this)' th:id="${m.colorid}"  class="ss1"   th:text="${m.colorname}"></a></li>
                    <div class="clear"></div>
                </ul>
                <div class="btn_form">
                   <!--  <form>
                        <input type="submit" value="点击购买" title="">
                    </form> -->
                </div>
                <ul class="add-to-links">
                    <li><img src="images/wish.png" alt=""/><a href="" onclick="add()">加入购物车</a></li>
                </ul>
            </div>
            <div class="clear"></div>


            <ul id="flexiselDemo3">
                <li th:each="h,jk:${show}"><img height="150px" width="230px" th:src="'http://193.112.4.251:2333/thefootimg/shopimg/'+${h.filename}" /></a>
                    <div class="grid-flex"><a th:href="@{showSingle(id=${h.shopid})}"  th:text="${h.shopname}"></a>
                        <p th:text="'RS  '+${h.price}"></p></div>
                </li>
            </ul>
            
            <script type="text/javascript">
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel();
                    $("#flexiselDemo2").flexisel({
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                    $("#flexiselDemo3").flexisel({
                        visibleItems: 5,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 3
                            }
                        }
                    });

                });
            </script>
            <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            <div class="toogle">
                <h3 class="m_3" >产品 详情</h3>
                <p class="m_text" th:each="m,map:${sa}" th:if="${map.index} ==0" th:text="${m.proreview}"></p>
            </div>
            <div class="toogle">
                <h3 class="m_3">产品 评论</h3>
                <p class="m_text"></p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="footer">
       	  <div class="footer-top">
       		<div class="wrap">
       			   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	 <ul class="f_list">
				  	 	<li><img src="images/f_icon.png" alt=""><span class="delivery">超过100元的所有订单免费送货*</span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="images/f_icon1.png" alt=""><span class="delivery">客户服务：<span class="orange">（800）000-2587（免费电话）</span></span></li>
				  	 </ul>
				   </div>
				   <div class="col_1_of_footer-top span_1_of_footer-top">
				  	<ul class="f_list">
				  	 	<li><img src="images/f_icon2.png" alt=""><span class="delivery">快速交货和免费退货</span></li>
				  	 </ul>
				   </div>
				  <div class="clear"></div>
			 </div>
       	 </div>
       	 <div class="footer-middle">
       	 	<div class="wrap">
       	 		<div class="section group">
				<div class="col_1_of_middle span_1_of_middle">
					<dl id="sample" class="dropdown">
			        <dt><a href="#"><span>请选择一个国家</span></a></dt>
			        <dd>
			            <ul style="display: none;">
			                <li><a href="#">澳大利亚<img class="flag flagvisibility" src="images/as.png" alt=""><span class="value">AS</span></a></li>
			                <li><a href="#">美国<img class="flag flagvisibility" src="images/as.png" alt=""><span class="value">USA</span></a></li>
			                <li><a href="#">中国<img class="flag flagvisibility" src="images/as.png" alt=""><span class="value">CHina</span></a></li>
			            </ul>
			         </dd>
   				    </dl>
   				 </div>
				<div class="col_1_of_middle span_1_of_middle">
					<ul class="f_list1">
						<li><span class="m_8"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册电子邮件并获得15％的折扣</font></font></span>
						<div class="search">	  
							<input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
							<font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" value="订阅" id="submit" name="submit"></font></font>
							<div id="response"> </div>
			 			</div><div class="clear"></div>
			 		    </li>
					</ul>
				</div>
				<div class="clear"></div>
			   </div>
       	 	</div>
       	 </div>
       	<div class="footer-bottom">
       	 	<div class="wrap">
       	 		<div class="section group">
				<div class="col_1_of_5 span_1_of_5">
					<h3 class="m_9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">店</font></font></h3>
					<ul class="sub_list">
						<h4 class="m_10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">男人</font></font></h4>
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">男装鞋</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">男士服装</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">男士配饰</font></font></a></li>
			        </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<h3 class="m_9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">体育</font></font></h3>
					<ul class="list1">
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">篮球</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">足球</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">足球鞋</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">捕食者</font></font></a></li>
			         </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<h3 class="m_9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">原稿</font></font></h3>
					<ul class="list1">
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Originals鞋子</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">羚羊</font></font></a></li>
			            <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">桑巴</font></font></a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<h3 class="m_9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">产品类型</font></font></h3>
					<ul class="list1">
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">衬衫</font></font></a></li>
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">裤子和裤袜</font></font></a></li>
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">衬衫</font></font></a></li>
					    <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">球衣</font></font></a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<h3 class="m_9"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">支持</font></font></h3>
					<ul class="list1">
					   <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商店发现者</font></font></a></li>
					   <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户服务</font></font></a></li>
					   <li><a href="shop.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">常问问题</font></font></a></li>
		            </ul>
				</div>
				<div class="clear"></div>
			</div>
       	 	</div>
       	 </div>
       	 
       	 <div class="copy">
       	   <div class="wrap" style="height: 50px"> </div>
       	 </div>
       	 
       </div>
         <script type="text/javascript">
        var sid=$('.myzh').val();
	    var socket;
	    if(typeof(WebSocket) == undefined) {
	        console.log("您的浏览器不支持WebSocket");
	    }else{
	        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
	        socket = new WebSocket("ws://localhost:8080/webSocket/"+sid);

	        //打开事件
	        socket.onopen = function() {
	        	
	        };

	        //获得消息事件
	        socket.onmessage = function(msg) {
	            if (msg.data == "101") {
	                alert("对不起，你的账号已经在其它地方登录，若非本人操作，请及时更换密码...");
	                location.href="http://localhost:8080/templates/page/login.html";
	                return;
	            }
	        }
	        };

</script>
       <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});


		     var color=null;
		     var size=null;

		    function select(obj) {
		    	$(".ss").attr("style", "color:white");
				 document.getElementById($(obj).html()).style.color="red";
			     size=obj.id; 
			}
		    function show(obj) {
		    	$(".ss1").attr("style", "color:white")
				 document.getElementById(obj.id).style.color="red";
		 	 $('.etalage_thumb_image').attr("src","http://193.112.4.251:2333/thefootimg/shopimg/"+$("#"+$(obj).html()).val());
			 $('.etalage_source_image').attr("src","http://193.112.4.251:2333/thefootimg/shopimg/"+$("#"+$(obj).html()).val());
			 color=obj.id;
			};

		    function add() {
			 if(color!=null && size!=null){
				 var shopid=$('#shopid').val();
				 $.post("add?shopid="+shopid+"&size="+size+"&color="+color,function(json){
		              if(json=="true"){
		                  alert("加入成功！");
		                }else if(json=="login"){
		                      alert("登陆后在来逛逛吧!");
		                      location.href="login.html";
		                      }
					 
					 },"JSON")
			 }else{
		         alert("选个心爱的尺码跟颜色先啦~~");
				 }

		};

		 

			
		</script>
        <a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span><span id="toTopHover" style="opacity: 1;"></span></a>       
</body></html>